In [19]:
from secret_key import google_key
from langchain.llms import GooglePalm

api_key = google_key
llm = GooglePalm(google_api_key = api_key)

In [20]:
poem = llm("write a poem n my love for dosa")
print(poem)

Oh dosa, my beloved,
You are the food of my dreams.
Your crispy exterior and fluffy interior
Are a match made in heaven.

I love the way you smell,
So fresh and inviting.
I love the way you taste,
So light and flavorful.

I love the way you look,
So golden and delicious.
I love the way you make me feel,
So happy and content.

Oh dosa, my beloved,
You are the best thing that has ever happened to me.
I will love you forever and always.

Conect to Database

In [23]:
from langchain.utilities import SQLDatabase

db_user = "root"
db_password = "dauvanan2003"
db_host = "localhost"
db_name = "atliq_tshirts"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Levi	Red	M	45	97
2	Van Huesen	Blue	L	30	52
3	Adidas	Red	M	12	12
*/

In [28]:
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
qns1 = db_chain("How many t-shirts do we have left for nike in extra small size and white color?")

c:\Users\FPT SHOP\AppData\Local\Programs\Python\Python310\lib\site-packages\langchain_core\_api\deprecation.py:119: LangChainDeprecationWarning: The method `Chain.__call__` was deprecated in langchain 0.1.0 and will be removed in 0.3.0. Use invoke instead.
  warn_deprecated(

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for nike in extra small size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult:
Answer:0
> Finished chain.

In [29]:
qns1

{'query': 'How many t-shirts do we have left for nike in extra small size and white color?',
 'result': '0'}

In [31]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
qns2 = db_chain("How many t-shirts do we have left for levi in extra small size and white color?")

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for levi in extra small size and white color?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White' AND size = 'XS'
SQLResult: [(84,)]
Answer:84
> Finished chain.

In [32]:
qns2

{'query': 'How many t-shirts do we have left for levi in extra small size and white color?',
 'result': '84'}